@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: content-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}